*{
    margin:0;
    padding:0;
}
body{
    background-color: #B0C4B1;
    text-align:center;
}
.container{
    height: 70vh;
    display:flex;
    justify-content:center;
    align-items: center;
}
.game{
    height: 60vmin;
    width:60vmin;
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    gap:1.5vmin;
}
.box{
    height:18vmin;
    width:18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem #4A5759 ;
    background-color: #EDAFB8;
    font-size:8vmin;
    color:#4A5759;
}
#reset-btn{
    padding:1rem;
    font-size: 1.25rem;
    background-color:#4A5759 ;
    color:#DEDBD2;
    border-radius: 1.5rem;
    border-color:#4A5759;
}
#new-btn{
    padding:1rem;
    font-size: 1.25rem;
    background-color:#4A5759 ;
    color:#DEDBD2;
    border-radius: 1.5rem;
    border-color:#4A5759;
}
#msg{
    color:#606c38;
    font-size:8vmin;
}
.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}
.hide{
    display:none;
}
